.container
  .row
    .callout-mage.text-center.fade-in-b
      %h1 Below you can read reviews from Aliexpress
      %h3 As far as our visitors will write review of this product it will be avivable here!
  .row
    .callout-block.text-center.fade-in-b
      %h1 Have you bought this product?
      = link_to 'Write your own review!', new_review_path, class: 'btn btn-danger btn-lg'
