<div class="container">
  <div class="row">
    <div class="callout-mage text-center fade-in-b">
      <h1>Below you can read reviews from Aliexpress</h1>
      <h3>But as far as our visitors will write review of this product it will be avivable here!</h3>
    </div>
  </div>
  <div class="row">
    <div class="callout-block text-center fade-in-b">
      <h1>Have you bought this product?</h1>
      <%= link_to "Write your own review!", new_review_path, class: "btn btn-danger btn-lg" %>
    </div>
  </div>
</div>