<div class="user-feedback">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div id="card" class="weater">
          <div class="city-selected">
            <div class="info">
              <div class="city"><h1>Do you like this product?</h1></div>
                <% if ProductLike.find_by(product_id: @product.productId, user_cookie_id: cookies[:user_id]) == nil %>
                  <div class="love">
                    <i class="fa fa-heart"></i>
                  </div>
                <% else %>
                  <div class="loved">
                    <i class="fa fa-heart"></i>
                  </div>
                <% end %>
              </div>
          </div>

          <div class="days">
            <div class="row row-no-gutter">
              <div class="col-md-9">
                <div class="day">
                  <textarea placeholder="Leave us your feedback" disabled="disabled"></textarea>
                </div>
              </div>
              <div class="col-md-3">
                <div class="submit-button">
                  <input type="button" class="btn btn-success" value="Submit" disabled="disabled">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  <% $like_url = "#{request.original_url}/like" %>
  $(".love").dblclick(function() {
    $(".fa.fa-heart").css("color", "#ff0000");
    $(this).removeClass('love').addClass('loved');
    $.ajax({
      type: "POST",
      url: "<%= $like_url %>" ,
      success: function(data){
      }
    });
  });
  <% $unlike_url = "#{request.original_url}/unlike" %>
  $(".loved").dblclick(function() {
    $(".fa.fa-heart").css("color", "white");
    $(this).removeClass('loved').addClass('love');
    $.ajax({
      type: "POST",
      url: "<%= $unlike_url %>" ,
      success: function(data){
      }
    });
  });
</script>