.col-lg-2.col-md-4.col-sm-6.col-xs-12
  .process
    .process-row
      .process-step
        = link_to link, class: 'btn btn-default btn-circle category-listing-link' do
          =icon('fa', "#{icon} fa-3x")
        %p= text
