Are you sure you want to do this action? It will take about 20 minutes!
%input{:onclick => "send()", :type => "submit"}/
#result 
  %marquee Wait! Text will stop moving after all!

:javascript
  function send() {
    $.ajax({
      type: "POST",
      url: "#{admins_aliexpress_api_save_hot_products_path}" ,
      success: function(data){
       $('#result').text("Done");
       alert("We have found new products!")
      }
    });
  }
