.page-header
  = link_to subcategories_path(params[:category_id]), class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_subcategory_path(@subcategory), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show subcategory
%dl.dl-horizontal
  %dt Parent:
  %dd= @subcategory.parent
  %dt Name:
  %dd= @subcategory.name
