.col-lg-12.text-center
  %h3 Categories:
  .col-lg-push-4.col-lg-5.text-left{:style => "margin:auto;"}
    %ul.text-left
      - categories = Category.all.limit(7)
      - categories.each do |category|
        %li
          %h4
            = icon('fa', "#{category.icon} fa-1x", style: 'margin-right: 3px;')
            = link_to category.name, products_category_search_path(category.name,1)
