.ad-container {

	@media (max-width: 499px) {
	max-width:100%;
	height:auto;
	position:relative;
	margin:auto;
	margin-bottom:7px;
	margin-top:12px;
	text-algin:center;
	}

	@media (min-width: 500px) {
	max-width:100%;
	height:auto;
	margin:auto;
	margin-bottom:10px;
	margin-top:10px;
	text-algin:center;
	}


}