<div class="user-feedback">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<div id="card" class="weater">
					<div class="city-selected">

							<div class="info">
								<div class="city"><h1>Do you like this product?</h1></div>
								
								<% if Like.where(:productId => @item.productId, :userCookieId => cookies[:user_id]).first == nil %>
									<div class="love">
										<i class="fa fa-heart"></i>
									</div>
								<% else %>
									<div class="loved">
										<i class="fa fa-heart"></i>
									</div>
								<% end %>
							</div>

					</div>

					<div class="days">
						<div class="row row-no-gutter">
							<div class="col-md-9">

								<div class="day">
									<textarea placeholder="Leave us your feedback" disabled="disabled"></textarea>
								</div>

							</div>

								<div class="col-md-3">
									<div class="submit-button">
										<input type="button" class="btn btn-success" value="Submit" disabled="disabled">
									</div>
								</div>
									
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	<% $url = "#{request.original_url}/l" %>
	$(".love").dblclick(function() {
		$(".fa.fa-heart").css("color", "#ff0000");
		$.ajax({
		  type: "POST",
		  url: "<%= $url %>" ,
		  success: function(data){
		  }
		});
	});
</script>