<div class="container">
			<div class="row">
				<div class="callout-mage text-center fade-in-b">
					<h1>Unfortunately there are no reviews written by our users!</h1>
					<p>Below you can read some reviews which you can find on Aliexpress:</p>
				</div>
			</div>
			<div class="row">
				<div class="callout-block text-center fade-in-b">
					<h1>Have you bought this item?</h1>
					<%= link_to "Write your own review and earn free money!", new_review_path, :class => "btn btn-danger btn-lg" %>
				</div>
			</div>
</div>