<div class="container">
    <div class="row">
    <h2>Search for products:</h2>
        <div class="col-sm-12 text-center" style="margin-bottom:10px;">
        <%= form_tag({controller: "items", action: "search"}, method: "get") do %>
            <div id="imaginary_container"> 
                <div class="input-group stylish-input-group input-append">
                        <%= text_field_tag :name, nil, class: "form-control", placeholder: "Search" %>
                        <span class="input-group-addon">
                            <%= button_tag nil, class: "form_submit" do %>
                                <span class="glyphicon glyphicon-search"></span>
                            <% end %>
                        </span>
                    <% end %>
                </div>
            </div>
        </div>
	</div>
</div>
