/*
 *= require font-awesome
*/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

//App layout styles
@import "layout/_modal_login.scss";
@import "layout/ads.scss";
@import "layout/navbar.scss";
@import "layout/_navbar_search.scss";


//Item styles
@import "products/_aliexpress_reviews.scss";
@import "products/_call_to_action.scss";
@import "products/category_listing.scss";
@import "products/_rating.scss";
@import "products/product_description.scss";
@import "products/product_list.scss";
@import "products/show_item.scss";
@import "products/_user_feedback.scss";

//Review styles
@import "reviews/_comment.scss";
@import "reviews/_recent_reviews.scss";
@import "reviews/_review_cards.scss";
@import "reviews/review_show.scss";

//User styles
@import "users/profile.scss";

//Search styles
@import "search/search_box.scss";
@import "search/_search_parameters.scss";


//Partial styles
@import "partials/_best_products.scss";
@import "partials/_root_slider.scss";


//404 error style
@import "error404.scss";


.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.container {
	max-width:100%;
}
