.container.product-info {
	background-color:#743C58;
	margin-top:0px;
	color:white;
	text-shadow: 1.5px 1.5px black;
	padding-bottom:50px;
	padding-top:35px;
}

.ui-box-title {
	width:100%;
	display:inline-block;
	font-size:36px;
}

.ui-box-body {
	width:100%;
	display:block;
}

.property-item {
	width:50%;
	display:inline-block;
	float:left;
	font-weight:800;
	font-size:110%;
	padding:2px;
}

.propery-des {
	font-weight:400;
}