.review-card
{
    background-color: #FFF;
    overflow: hidden;
    box-shadow: 0 0 1px #CCC;
}
.review-card img
{
    filter: blur(1.5px);
    -webkit-filter: blur(1.5px);
    -moz-filter: blur(1.5px);
    -o-filter: blur(1.5px);
    -ms-filter: blur(1.5px);
	width:100%;
	height:100%;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	 transition: all 0.5s ease-in-out;
}
.review-card img:hover
{
    filter: blur(0px);
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
	transition-duration:0.5s;
}
.review-card .content
{
    padding: 15px;
}
.review-card .author
{
    font-size: 11px;
    color: #737373;
    padding: 25px 30px 20px;
}
.review-card .review-card-img-content
{
    height: 196px;
    position: relative;
}
.review-card .review-card-img-content img
{
    position: absolute;
}
.review-card .review-card-title
{
    display: table-cell;
    vertical-align: bottom;
    z-index: 2;
    position: relative;
	font-size:1.5em;
}
.review-card .review-card-title b
{
    background-color: rgba(51, 51, 51, 0.78);
    display: inline-block;
    margin-bottom: 5px;
    color: #FFF;
    padding: 10px 15px;
    margin-top: 5px;
}