<div class="well">
    <h4><i class="fa fa-fire"></i> Popular Posts:</h4>
	<ul>
		<% @popular_reviews.each do |review| %>
			<li><%= link_to review.title, review_path(review) %></li>
		<% end %>
	</ul>
</div>