<div class="well">
  <h4><i class="fa fa-fire"></i> Popular Posts:</h4>
  <ul>
    <% @popular_reviews = Review.limit(4).order("RAND()").limit(5) %>
    <% @popular_reviews.each do |review| %>
      <li>
        <i class="fa fa-sticky-note" style="margin-right:2px;"></i><%= link_to review_path(pretty_url_encode(review.title)) do %>
          <%= pretty_url_decode(review.title) %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>