<div class="col-lg-4">
	<h3>Categories:</h3>
        <ul>
			<li><a href=""><i class="fa fa-file"></i> News</a></li>
			<li><a href=""><i class="fa fa-android"></i> Android</a></li>
			<li><a href=""><i class="fa fa-code"></i> C#</a></li>
			<li><a href=""><i class="fa fa-code"></i> Java</a></li>
			<li><a href=""><i class="fa fa-book"></i> Books</a></li>
			<li><a href=""><i class="fa fa-globe"></i> Web</a></li>
			<li><a href=""><i class="fa fa-windows"></i> Windows</a></li>
		</ul>
</div>