.container
  .col-md-12
    .ad-container
      %script{async: '', src: '//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js'}
      / alibestdeal-bottom
      %ins.adsbygoogle{'data-ad-client': 'ca-pub-6222054838117933', 'data-ad-format': 'auto', 'data-ad-slot': '8532272706', style: 'display:block'}
      :javascript
        (adsbygoogle = window.adsbygoogle || []).push({});
