<div class="col-md-12 navbar-search">
  <%= form_tag(:redirect_to_search_products, method: "get") do %>
    <%= text_field_tag :name, nil, class: "form-control", placeholder: "Search for products", style: "width:calc(100% - 40px);float:left;display:inline-block;" %>
    <span class="input-group-addon">
      <%= button_tag nil, class: "form_submit" do %>
        <span class="glyphicon glyphicon-search"></span>
      <% end %>
    </span>
  <% end %>
</div>