<% if current_user == nil %>
	<li><%= link_to "Login", "#", {"data-toggle" => "modal", "data-target" => "#login-modal"} %></li>
<% else %>
	<% if params[:controller] == "users" %>
		<li class="active"><%= link_to "Profile", user_profile_path %></li>
	<% else %>
		<li><%= link_to "Profile", user_profile_path %></li>
	<% end %>
	<li><%= link_to "Logout", {controller: "sessions", action: "destroy"} %></li>
<% end %>